{% load account %}{% load i18n %}{% autoescape off %}
<div>
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-5291756728130309467bodyTable">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-5291756728130309467bodyCell">
                        <span style="color:#ffffff;display:none;font-size:0px;height:0px;width:0px">Thank you for joining MyPoints, {{email}}! Here are some tips to get you started.</span>

                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                                <td align="center" bgcolor="#5B008A" valign="top" id="m_-5291756728130309467templateHeader" style="background-color:#5B008A;padding-right:30px;padding-left:30px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:400px" class="m_-5291756728130309467emailContainer">
                                        <tbody><tr>
                                            <td align="center" valign="top" id="m_-5291756728130309467logoContainer" style="padding-top:40px;padding-bottom:20px">
                                                <img alt="MyPoints" src="cid:logo.png" height="63" width="60" style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;letter-spacing:-1px;padding:0;margin:0;text-align:center">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding-bottom:10px">
                                                <h1 style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:30px;font-style:normal;font-weight:600;line-height:42px;letter-spacing:normal;margin:0;padding:0;text-align:center">Welcome to MyPoints!</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="padding-bottom:40px">
                                                <p style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:center">Thank you for joining us, {{email}}. Here's an overview of how your MyPoints account works.</p>
                                            </td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#5B008A" valign="top" id="m_-5291756728130309467headerContainer" style="background-color:#5B008A;padding-right:30px;padding-left:30px">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td align="center" valign="top">

                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px" class="m_-5291756728130309467emailContainer">
                                                    <tbody><tr>
                                                        <td align="center" valign="top">
                                                            <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-5291756728130309467headerTable" style="background-color:#ffffff;border-collapse:separate;border-top-left-radius:4px;border-top-right-radius:4px">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" width="100%" style="padding-top:40px;padding-bottom:0">&nbsp;</td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="m_-5291756728130309467templateBody">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td align="center" valign="top">

                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:700px" class="m_-5291756728130309467emailContainer">
                                                    <tbody><tr>
                                                        <td align="right" valign="top" width="30" class="m_-5291756728130309467mobileHide">
                                                            <img src="https://ci4.googleusercontent.com/proxy/L5tUh1OMjnXZ7pML9wTqD_Lpb0aqOQtEIxQdlBZbzz44clEn-1MlZdakDu17kOGBQjhw0qROA1em_M8TlKw1efwKeQyVgVfiWnCSel6n2HkLGJvN_NbbMg=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/tr_email/arrow.jpg" width="30" style="display:block" class="CToWUd">
                                                        </td>
                                                        <td valign="top" width="100%" style="padding-right:70px;padding-left:40px" id="m_-5291756728130309467bodyContainer">
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody><tr>
                                                                    <td align="left" valign="top" id="m_-5291756728130309467bodyContent">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding-right:20px;padding-bottom:60px">
                                                                                    <img alt="Test" src="https://ci4.googleusercontent.com/proxy/Jlstza95JXEZ-XLU84hu8t2l_7VEQWe2DcXHw-yoROHkJzLiiAri_Ki-z75Qm3MB530G8JfsosIowNvzLen-2ITrPEgm6W5LLvKBnLTO14SJBVPUpL9jQ0g=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/icons/test_icon.png" width="48" style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;height:auto;letter-spacing:-1px;padding:0;margin:0;text-align:center" class="CToWUd">
                                                                                </td>
                                                                                <td align="left" valign="top" style="padding-bottom:40px">
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:24px;padding-top:0;margin-top:0;text-align:left">Test and Send</p>
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:left"><a href="http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p=eyJzIjoiUkNhY1lZbF9GMVRzZnR5c3YtVjFBYW5RcUpNIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9jYW1wYWlnbnNcXFwvcHJldmlld3MtYW5kLXRlc3RzXFxcL2VtYWlsLWNhbXBhaWduLXRlc3RpbmctdGlwcz91dG1fc291cmNlPW1haWxjaGltcC1hcHAmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY29udGVudD1zaWdudXAtd2VsY29tZSZ1dG1fY2FtcGFpZ249b25ib2FyZGluZ1wiLFwiaWRcIjpcIjIyODllNmIwZjlmZTQ2YTQ5MGZiOWQ0ZmFiYjNmNDRjXCIsXCJ1cmxfaWRzXCI6W1wiNDNhMmYwOTY5YjQwZjMxYzJiMGZmMzg0MDhkYTdjOTE5NDE0ZmZlNVwiXX0ifQ" style="color:#237a91;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p%3DeyJzIjoiUkNhY1lZbF9GMVRzZnR5c3YtVjFBYW5RcUpNIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9jYW1wYWlnbnNcXFwvcHJldmlld3MtYW5kLXRlc3RzXFxcL2VtYWlsLWNhbXBhaWduLXRlc3RpbmctdGlwcz91dG1fc291cmNlPW1haWxjaGltcC1hcHAmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY29udGVudD1zaWdudXAtd2VsY29tZSZ1dG1fY2FtcGFpZ249b25ib2FyZGluZ1wiLFwiaWRcIjpcIjIyODllNmIwZjlmZTQ2YTQ5MGZiOWQ0ZmFiYjNmNDRjXCIsXCJ1cmxfaWRzXCI6W1wiNDNhMmYwOTY5YjQwZjMxYzJiMGZmMzg0MDhkYTdjOTE5NDE0ZmZlNVwiXX0ifQ&amp;source=gmail&amp;ust=1501268612025000&amp;usg=AFQjCNEC80BFIvWyUcJ9XJoJ5Y13ALvjAQ">Test your campaign</a> to get an idea of what your subscribers will see in their inboxes. When you're ready, <a href="http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p=eyJzIjoiTXREQlZmMDFJNU1ZVElzUllVeGlMSzltVU5FIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9jYW1wYWlnbnNcXFwvY29uZmlybWF0aW9uLWFuZC1zZW5kaW5nXFxcL3NjaGVkdWxlLXBhdXNlLW9yLXNlbmQtYS1jYW1wYWlnbj91dG1fc291cmNlPW1haWxjaGltcC1hcHAmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY29udGVudD1zaWdudXAtd2VsY29tZSZ1dG1fY2FtcGFpZ249b25ib2FyZGluZ1wiLFwiaWRcIjpcIjIyODllNmIwZjlmZTQ2YTQ5MGZiOWQ0ZmFiYjNmNDRjXCIsXCJ1cmxfaWRzXCI6W1wiNzMyNzQzMTU0NDkwZDQ0NzI5YjFjOTI1MjU5NzI2MDJlYTRiNzEwYlwiXX0ifQ" style="color:#237a91;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p%3DeyJzIjoiTXREQlZmMDFJNU1ZVElzUllVeGlMSzltVU5FIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9jYW1wYWlnbnNcXFwvY29uZmlybWF0aW9uLWFuZC1zZW5kaW5nXFxcL3NjaGVkdWxlLXBhdXNlLW9yLXNlbmQtYS1jYW1wYWlnbj91dG1fc291cmNlPW1haWxjaGltcC1hcHAmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY29udGVudD1zaWdudXAtd2VsY29tZSZ1dG1fY2FtcGFpZ249b25ib2FyZGluZ1wiLFwiaWRcIjpcIjIyODllNmIwZjlmZTQ2YTQ5MGZiOWQ0ZmFiYjNmNDRjXCIsXCJ1cmxfaWRzXCI6W1wiNzMyNzQzMTU0NDkwZDQ0NzI5YjFjOTI1MjU5NzI2MDJlYTRiNzEwYlwiXX0ifQ&amp;source=gmail&amp;ust=1501268612025000&amp;usg=AFQjCNF2BqCT2yuq57CySA6M20M0D2WXRA">schedule or send</a> your campaign.</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding-right:20px;padding-bottom:60px">
                                                                                    <img alt="Reports" src="https://ci4.googleusercontent.com/proxy/1zrPTi3qiwXJHx8dYPvpy0XmfwBXde5p0JY7059ESNPgU3iZHrvg-v1MMZ3-21at6Lto9VqVbVfn_XjwhYBiM4MO2ncW74yfckOZ8wRrA1kip3cBNMy0Mry0eA=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/icons/report_icon.png" width="48" style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;height:auto;letter-spacing:-1px;padding:0;margin:0;text-align:center" class="CToWUd">
                                                                                </td>
                                                                                <td align="left" valign="top" style="padding-bottom:40px">
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:24px;padding-top:0;margin-top:0;text-align:left">Run Reports</p>
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:left">Check out campaign performance in <a href="http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p=eyJzIjoid25NRlJVQnQwS0hlRnVLMlAyVl95ZEVHNEtVIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9yZXBvcnRzXFxcL2Fib3V0LWNhbXBhaWduLXJlcG9ydHM_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjQ1MzFkZjE3YzdmNjYxOTIwYzc4NDY4Zjc1NDJjNTc0MGVhMGU3YjNcIl19In0" style="color:#237a91;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p%3DeyJzIjoid25NRlJVQnQwS0hlRnVLMlAyVl95ZEVHNEtVIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9yZXBvcnRzXFxcL2Fib3V0LWNhbXBhaWduLXJlcG9ydHM_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjQ1MzFkZjE3YzdmNjYxOTIwYzc4NDY4Zjc1NDJjNTc0MGVhMGU3YjNcIl19In0&amp;source=gmail&amp;ust=1501268612026000&amp;usg=AFQjCNG_Ucpc-HafTo0Cwnh8WvjYWGQX5g">reports</a>. Improve your strategy using powerful analytics and data to create campaigns that <a href="http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p=eyJzIjoiZzZiMzAtV015ZmhMb2hBZkhidlU4LUtrRTdjIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9zZWdtZW50c1xcXC9nZXR0aW5nLXN0YXJ0ZWQtd2l0aC1zZWdtZW50cz91dG1fc291cmNlPW1haWxjaGltcC1hcHAmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY29udGVudD1zaWdudXAtd2VsY29tZSZ1dG1fY2FtcGFpZ249b25ib2FyZGluZ1wiLFwiaWRcIjpcIjIyODllNmIwZjlmZTQ2YTQ5MGZiOWQ0ZmFiYjNmNDRjXCIsXCJ1cmxfaWRzXCI6W1wiYmY0ZGE2ZTAzODdjYzcwYWJkOGVmMTNjYjJkNzI1MjMxZjJmY2EwNlwiXX0ifQ" style="color:#237a91;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p%3DeyJzIjoiZzZiMzAtV015ZmhMb2hBZkhidlU4LUtrRTdjIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9zZWdtZW50c1xcXC9nZXR0aW5nLXN0YXJ0ZWQtd2l0aC1zZWdtZW50cz91dG1fc291cmNlPW1haWxjaGltcC1hcHAmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY29udGVudD1zaWdudXAtd2VsY29tZSZ1dG1fY2FtcGFpZ249b25ib2FyZGluZ1wiLFwiaWRcIjpcIjIyODllNmIwZjlmZTQ2YTQ5MGZiOWQ0ZmFiYjNmNDRjXCIsXCJ1cmxfaWRzXCI6W1wiYmY0ZGE2ZTAzODdjYzcwYWJkOGVmMTNjYjJkNzI1MjMxZjJmY2EwNlwiXX0ifQ&amp;source=gmail&amp;ust=1501268612026000&amp;usg=AFQjCNHevDLZBpwxFJVYIWKOxTSVg0OZLA">target subscribers</a> based on their interests.</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding-right:20px;padding-bottom:60px">
                                                                                    <img alt="Learn" src="https://ci3.googleusercontent.com/proxy/r0UiJqYb2PWQ2cur-emdeo7yDOuyr88PhbjhLlCXdXP05xtfsEAAZe56B8XGXHNg053JRzZXdNSPF97FGYEiwBOOzUFKmLOM4CybNgPpRJXZbykIgA=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/icons/bulby.png" width="48" style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;height:auto;letter-spacing:-1px;padding:0;margin:0;text-align:center" class="CToWUd">
                                                                                </td>
                                                                                <td align="left" valign="top" style="padding-bottom:40px">
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:24px;padding-top:0;margin-top:0;text-align:left">Keep Improving</p>
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:left"><a href="http://click.mailchimpapp.com/track/click/10612303/mailchimp.com?p=eyJzIjoiUEZ1cFdHa3VzY2VMemZJbVdJSlpOMTBNNmNRIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvbWFpbGNoaW1wLmNvbVxcXC9yZXNvdXJjZXNcXFwvZ3VpZGVzXFxcL2dldHRpbmctc3RhcnRlZC13aXRoLW1haWxjaGltcFxcXC8_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcImNhZmY2MDAyMWY0OGNmOGM2NWUyNDExOGVlOTYyMjc4ZTNhOTM2OThcIl19In0" style="color:#237a91;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/mailchimp.com?p%3DeyJzIjoiUEZ1cFdHa3VzY2VMemZJbVdJSlpOMTBNNmNRIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvbWFpbGNoaW1wLmNvbVxcXC9yZXNvdXJjZXNcXFwvZ3VpZGVzXFxcL2dldHRpbmctc3RhcnRlZC13aXRoLW1haWxjaGltcFxcXC8_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcImNhZmY2MDAyMWY0OGNmOGM2NWUyNDExOGVlOTYyMjc4ZTNhOTM2OThcIl19In0&amp;source=gmail&amp;ust=1501268612026000&amp;usg=AFQjCNF1R_R5wEkTFWv3icnX9rZ7g3yw6g">Getting Started</a> and <a href="http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p=eyJzIjoiUHdiR0dMRnByWnVnNndlNWdNcEx2LV9xckRFIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9hY2NvdW50c1xcXC9hY2NvdW50LXNldHVwXFxcL21haWxjaGltcC1mdW5kYW1lbnRhbHM_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjliMjQwY2UwMDMzYmQyNWY2NTc1MTkxZjM0MTBjNDFiYjgzYTMxN2JcIl19In0" style="color:#237a91;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p%3DeyJzIjoiUHdiR0dMRnByWnVnNndlNWdNcEx2LV9xckRFIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC9hY2NvdW50c1xcXC9hY2NvdW50LXNldHVwXFxcL21haWxjaGltcC1mdW5kYW1lbnRhbHM_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjliMjQwY2UwMDMzYmQyNWY2NTc1MTkxZjM0MTBjNDFiYjgzYTMxN2JcIl19In0&amp;source=gmail&amp;ust=1501268612026000&amp;usg=AFQjCNHrbrUiQZhFx6OwiVnS68bBT2NejQ">MailChimp Fundamentals</a> help outline the basics of your account, and our comprehensive <a href="http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p=eyJzIjoidXNGS0JqcXp0X1VHcDRlU0tfb0VlWjlhOWdFIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC8_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjBmOTQ4MmFhNTkyMDg4ZGQyNGNkMDFlZjA1NzE5NzkyOTdlMmM3NWNcIl19In0" style="color:#237a91;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/kb.mailchimp.com?p%3DeyJzIjoidXNGS0JqcXp0X1VHcDRlU0tfb0VlWjlhOWdFIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwva2IubWFpbGNoaW1wLmNvbVxcXC8_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjBmOTQ4MmFhNTkyMDg4ZGQyNGNkMDFlZjA1NzE5NzkyOTdlMmM3NWNcIl19In0&amp;source=gmail&amp;ust=1501268612026000&amp;usg=AFQjCNHTQOIcTFRaM8wG7Hvw82QhyhS8yA">Knowledge Base</a> is there when you have questions.</p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody></table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding-bottom:60px" valign="top">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody><tr>
                                                                                <td align="center" valign="middle">

                                                                                    <a href="http://www.mypoints.com.ar/mobileapp/" style="background-color:#5B008A;border-collapse:separate;border-top:20px solid #5B008A;border-right:40px solid #5B008A;border-bottom:20px solid #5B008A;border-left:40px solid #5B008A;border-radius:3px;color:#ffffff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:600;letter-spacing:.3px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/login.mailchimp.com?p%3DeyJzIjoibjhEVU14UF9tMkJqb0o5b29jZ2h3Ny1VZGU4IiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2xvZ2luLm1haWxjaGltcC5jb21cXFwvP3V0bV9zb3VyY2U9bWFpbGNoaW1wLWFwcCZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9jb250ZW50PXNpZ251cC13ZWxjb21lJnV0bV9jYW1wYWlnbj1vbmJvYXJkaW5nXCIsXCJpZFwiOlwiMjI4OWU2YjBmOWZlNDZhNDkwZmI5ZDRmYWJiM2Y0NGNcIixcInVybF9pZHNcIjpbXCI1NDQyZTdkZDc0MzE5N2I1YzI2ZTEzZjZjMGQyZTk1Mzg5ZjkwNmZiXCJdfSJ9&amp;source=gmail&amp;ust=1501268612026000&amp;usg=AFQjCNHz8LQZ8-YitelEZsD9vr5Zx8raeg">Get Started</a>

                                                                                </td>
                                                                            </tr>
                                                                        </tbody></table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="top" style="padding-bottom:60px">
                                                                        <table align="center" bgcolor="#F2F2F2" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f2f2f2;border-collapse:separate;border-radius:4px">
                                                                            <tbody><tr>
                                                                                <td align="center" valign="middle" style="padding:20px">
                                                                                    <p style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:24px;padding-top:0;margin-top:0;text-align:left">Need Additional Support?</p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody></table>
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="m_-5291756728130309467templateFooter" style="padding-right:30px;padding-left:30px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px" class="m_-5291756728130309467emailContainer">
                                        <tbody><tr>
                                            <td align="center" valign="top">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td align="center" valign="top" style="padding-bottom:20px">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" style="padding-right:20px;padding-bottom:10px">
                                                                        <a href="http://click.mailchimpapp.com/track/click/10612303/www.facebook.com?p=eyJzIjoiSWx1eExPNlo3dU1lRm5scUZmeDJaQjFIMWQwIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5mYWNlYm9vay5jb21cXFwvbWFpbGNoaW1wXFxcLz91dG1fc291cmNlPW1haWxjaGltcC1hcHAmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY29udGVudD1zaWdudXAtd2VsY29tZSZ1dG1fY2FtcGFpZ249b25ib2FyZGluZ1wiLFwiaWRcIjpcIjIyODllNmIwZjlmZTQ2YTQ5MGZiOWQ0ZmFiYjNmNDRjXCIsXCJ1cmxfaWRzXCI6W1wiMGEyMDJjYzgzMTllOGFiYzJmYmQyMTE0OTE5YjdlN2Q4NDQ5N2Y3NFwiXX0ifQ" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/www.facebook.com?p%3DeyJzIjoiSWx1eExPNlo3dU1lRm5scUZmeDJaQjFIMWQwIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5mYWNlYm9vay5jb21cXFwvbWFpbGNoaW1wXFxcLz91dG1fc291cmNlPW1haWxjaGltcC1hcHAmdXRtX21lZGl1bT1lbWFpbCZ1dG1fY29udGVudD1zaWdudXAtd2VsY29tZSZ1dG1fY2FtcGFpZ249b25ib2FyZGluZ1wiLFwiaWRcIjpcIjIyODllNmIwZjlmZTQ2YTQ5MGZiOWQ0ZmFiYjNmNDRjXCIsXCJ1cmxfaWRzXCI6W1wiMGEyMDJjYzgzMTllOGFiYzJmYmQyMTE0OTE5YjdlN2Q4NDQ5N2Y3NFwiXX0ifQ&amp;source=gmail&amp;ust=1501268612026000&amp;usg=AFQjCNGGY7-s23PTOhIITHtPmhIYOZcp-g"><img src="https://ci3.googleusercontent.com/proxy/-7SB8g4t1ptk1UP3zU8tajybT6Io3yqnVPDZ_OnGVFc0RiasRoK808PVxtvdW-Ui5KVRehXq7sXVMplihB-KCaxVOET5EDXFIehibYjn4vDh0Rd54NOxT9trToTBzq8h6OU=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Facebook" width="48" style="border:0;display:block;height:auto;max-width:48px;outline:none;text-decoration:none;width:48px" class="CToWUd"></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" style="padding-right:20px;padding-bottom:10px">
                                                                        <a href="http://click.mailchimpapp.com/track/click/10612303/twitter.com?p=eyJzIjoiZ1NMd0JRbTIwczRGaVVJX3d6YUkwWjFHMF9NIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3R3aXR0ZXIuY29tXFxcL01haWxDaGltcFxcXC8_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjlhNzllZmIzYTk0N2NjNjc5NjkyZDlmMjYxNDhmOTE4YWY1MDQ0MjBcIl19In0" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/twitter.com?p%3DeyJzIjoiZ1NMd0JRbTIwczRGaVVJX3d6YUkwWjFHMF9NIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3R3aXR0ZXIuY29tXFxcL01haWxDaGltcFxcXC8_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjlhNzllZmIzYTk0N2NjNjc5NjkyZDlmMjYxNDhmOTE4YWY1MDQ0MjBcIl19In0&amp;source=gmail&amp;ust=1501268612026000&amp;usg=AFQjCNHs0AMPISwLrvzPMVxvasUmDYT6Wg"><img src="https://ci4.googleusercontent.com/proxy/E8Ev30bGwvmg__uqkUu0u0MoEGws-vF4KFH8jSA_9Gjy1UO8uLIvYJ3XB7mT0Cdc51HF_anmkerM0yV2ERJpSnk69Xq-zHFpgEWTw3iL5fCVvjAKYVaXEnRx-jJ6tOD_KA=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" alt="Twitter" width="48" style="border:0;display:block;height:auto;max-width:48px;outline:none;text-decoration:none;width:48px" class="CToWUd"></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" style="padding-right:20px;padding-bottom:10px">
                                                                        <a href="http://click.mailchimpapp.com/track/click/10612303/www.instagram.com?p=eyJzIjoiUGpxaXdxWHBwY1dZbEVnam5MQkZjSkRiYThzIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5pbnN0YWdyYW0uY29tXFxcL21haWxjaGltcFxcXC8_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjRhNTFlZTU3YWJhZjk3YTYxM2Q0ZDg2ODE4ZjI2MzU1MTQ3OWRmMDlcIl19In0" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/www.instagram.com?p%3DeyJzIjoiUGpxaXdxWHBwY1dZbEVnam5MQkZjSkRiYThzIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5pbnN0YWdyYW0uY29tXFxcL21haWxjaGltcFxcXC8_dXRtX3NvdXJjZT1tYWlsY2hpbXAtYXBwJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NvbnRlbnQ9c2lnbnVwLXdlbGNvbWUmdXRtX2NhbXBhaWduPW9uYm9hcmRpbmdcIixcImlkXCI6XCIyMjg5ZTZiMGY5ZmU0NmE0OTBmYjlkNGZhYmIzZjQ0Y1wiLFwidXJsX2lkc1wiOltcIjRhNTFlZTU3YWJhZjk3YTYxM2Q0ZDg2ODE4ZjI2MzU1MTQ3OWRmMDlcIl19In0&amp;source=gmail&amp;ust=1501268612026000&amp;usg=AFQjCNFt0SALHkG7_-6goO3MCDxKxCD9dg"><img src="https://ci3.googleusercontent.com/proxy/BZT18_Lzo_047sk7iy_n7Ws94Yj8lxS1FLnephZqAj5k69pRno_AdnA4Rl8kkS9WDdYsAZFyuaUnSnEJTQGW35br2inwvqfl7aZl4BSjN7XfWVEZIhLtw205REMrz6p5Kp6f=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-96.png" alt="Instagram" class="m_-5291756728130309467mcnFollowBlockIcon CToWUd" width="48" style="border:0;display:block;height:auto;max-width:48px;outline:none;text-decoration:none;width:48px"></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" style="padding-right:0;padding-bottom:10px">
                                                                        <a href="http://click.mailchimpapp.com/track/click/10612303/www.linkedin.com?p=eyJzIjoieU9GVW1JUjBxMFVlMUI1WmR1SHdXTVVULThRIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5saW5rZWRpbi5jb21cXFwvY29tcGFueVxcXC9tYWlsY2hpbXBcXFwvP3V0bV9zb3VyY2U9bWFpbGNoaW1wLWFwcCZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9jb250ZW50PXNpZ251cC13ZWxjb21lJnV0bV9jYW1wYWlnbj1vbmJvYXJkaW5nXCIsXCJpZFwiOlwiMjI4OWU2YjBmOWZlNDZhNDkwZmI5ZDRmYWJiM2Y0NGNcIixcInVybF9pZHNcIjpbXCIxYWQ1Y2U2MTUxNjVhYzllNDg3ZjIyMjhkZWI1ZGI4MzRhYzUxOWI3XCJdfSJ9" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.mailchimpapp.com/track/click/10612303/www.linkedin.com?p%3DeyJzIjoieU9GVW1JUjBxMFVlMUI1WmR1SHdXTVVULThRIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5saW5rZWRpbi5jb21cXFwvY29tcGFueVxcXC9tYWlsY2hpbXBcXFwvP3V0bV9zb3VyY2U9bWFpbGNoaW1wLWFwcCZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9jb250ZW50PXNpZ251cC13ZWxjb21lJnV0bV9jYW1wYWlnbj1vbmJvYXJkaW5nXCIsXCJpZFwiOlwiMjI4OWU2YjBmOWZlNDZhNDkwZmI5ZDRmYWJiM2Y0NGNcIixcInVybF9pZHNcIjpbXCIxYWQ1Y2U2MTUxNjVhYzllNDg3ZjIyMjhkZWI1ZGI4MzRhYzUxOWI3XCJdfSJ9&amp;source=gmail&amp;ust=1501268612027000&amp;usg=AFQjCNFWSWB9Dsxlqyc1GXbV7kotVKTNcQ"><img src="https://ci5.googleusercontent.com/proxy/id-DgEArKzFchuCxBUzDjvjrH_qY6MC4TdybHhzbPi2puETerHDuEcK8VDhA0wSydsxdmcL_U96y9nvONV0c1vMLklHClymKE2bB4AybbPTKHYwFv7zd1pU2i8vbmQWibqI=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-96.png" alt="LinkedIn" width="48" style="border:0;display:block;height:auto;max-width:48px;outline:none;text-decoration:none;width:48px" class="CToWUd"></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>

                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" id="m_-4722775725788750724footerContent" style="border-top:2px solid #f2f2f2;color:#484848;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding-top:40px;padding-bottom:20px;text-align:center">
                                                <p style="color:#484848;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:center">© 2001-2017 MyPoints<sup>®</sup>, All Rights Reserved.<br>Mar del Plata, Argentina. Tierra de los mejores Alfajores</p>
                                                <a href="http://www.mypoints.com.ar" style="color:#373737;text-decoration:underline" class="m_-4722775725788750724utilityLink" target="_blank" >Terms of Use</a><span class="m_-4722775725788750724mobileHide"> &nbsp; • &nbsp; </span><a href="">Privacy Policy</a>
                                            </td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                        </tbody></table>

                    </td>
                </tr>
            </tbody></table>
        </center>
    </div>
{% endautoescape %}