<div id="main" class="container home" ng-show="isAuthenticated">


	<ul id="home-menu" class="nav">
    <li ng-if="profile.my_rewards.length>0">
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleMyRewards">
				<i class="glyphicon glyphicon-record"></i> Mis premios y canjes
			</a>
      <ul id="toggleMyRewards" role="menu" class="collapse">
				<li ng-repeat="my_reward in profile.my_rewards"><a ui-sref="qr({code: my_reward.code})">{{my_reward.reward.name}} - {{my_reward.company.name}} - {{my_reward.status}}</a>
          <i class="fa fa-trophy"></i></li>
      </ul>
		</li>

	</ul>

  <footer>
  </footer>

</div>
