<div id="main" class="container home" ng-show="isAuthenticated && profile.is_company">
	<form>
         <input type="text" ng-model="searchKeyword" class="form-control" id="input-search" placeholder="Ingrese el email..." alt="Ingrese el email del usuario"/>
	</form>

	<ul id="home-menu" class="nav">
		<li>
			<ul id="toggleCercanos" role="menu">
				    <li class="item-accordion" ng-repeat="item in subscribers_list | filter: searchKeyword">
                			{{item.company.name}} - {{item.user[0].email}} - (Pendientes: {{item.points_pending}}) <a class="plus" ng-click="add_points(item)"><i class="glyphicon glyphicon-plus"></i></a>
            		</li>
      		</ul>
		</li>
	</ul>

  <footer>
  </footer>

</div>