<div id="main" class="container empresa" ng-show="isAuthenticated && !profile.is_company">

	<!-- Contenido principal -->

	<div class="row">
		<div class="col-md-12 empresa-top clearfix">
			<img src="{{object.image_url}}" alt="logo" id="logo-empresa"/>
			<div class="empresa-info">
				<h2>{{object.name}}</h2>
				<a class="categoria">{{object.category.description}}</a><br/>
				<span class="star rating-4-5"></span>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<p class="small-font">{{object.description}}</p>
		</div>
	</div>

	<ul class="empresa-menu nav">

		<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#togglePuntos">
				<b class="caret"></b> </i> Puntos acumulados <span class="badge counter">{{is_subscribed.points_pending}}</span>
			</a>
		</li>

	</ul>

	<ul class="empresa-menu nav">

		<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#togglePremiosAvailable">
				<b class="caret"></b> Todos los premios <span class="badge counter">{{available_rewards.length}}</span>
			</a>

			<ul class="collapse"  id="togglePremiosAvailable" role="menu">
				<li class="destacado dropdown" ng-repeat="item in available_rewards">
          <div >
            <a href="javascript:;" class="clearfix dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
              <span class="nombre">{{item.name}}</span>
            </a>
            <span class="trophy"><i class="fa fa-trophy"></i></span> <span class="badge">{{item.points}}</span>
            <ul class="dropdown-menu">
              <li>
                <div class="promo">
                  <span class="codigo">{{item.codigo}}</span>
                  <div class="img" style="padding: 0px;">
                    <img ng-show="item.type==='PHYSICAL'" ng-src="{{item.image_url}}" width="100px" height="100px"/>
                    <img ng-show="item.type==='DISCOUNT'" src="https://thomastsopanakis.files.wordpress.com/2012/05/vocal-razorianfly-icon.png" width="100px" height="100px"/>
                    <img ng-show="item.type==='VOUCHER'" src="http://www.printable-alphabets.com/wp-content/uploads/2012/12/print-dollar-sign-large.png" width="100px" height="100px"/><br/>
                  </div>
                  <div class="txt">
                    {{item.terms}}
                  </div>
                  <div class="data clearfix">
                    <span>Stock disponible: {{item.stock}}</span><br/>
                    <span>Vencimiento: {{item.period_to}}</span><br/>
                    <span>Valoración: </span><br/>
                    <span>Condiciones: </span><br/>
                    <p class="small-font">
                    {{item.conditions}}
                    </p>
                  </div>

                  <div class="sep"></div>
                  <form>
                    <div class="checkbox">
                    </div>
                  </form>

                </div>
              </li>
            </ul>
          </div>
				</li>
      </ul>
		</li>
	</ul>

  <ul class="empresa-menu nav" ng-show="is_subscribed">
    <li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#togglePremios">
				<b class="caret"></b> Premios disponibles por tus puntos <span class="badge counter">{{rewards.length}}</span>
			</a>

			<ul id="togglePremios" role="menu">
				<li class="destacado dropdown" ng-repeat="item in rewards">
          <div ng-if="(is_subscribed.points_pending>=item.points) && (item.stock>0)" >
            <a href="javascript:;" class="clearfix dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
              <span class="nombre">{{item.name}}</span>
            </a>
            <span class="trophy"><i class="fa fa-trophy"></i></span> <span class="badge">{{item.points}}</span>
            <ul class="dropdown-menu" ng-click="$event.stopPropagation();">
              <li>
                <div class="promo">
                  <span class="codigo">{{item.codigo}}</span>
                  <div class="img" style="padding: 0px;">
                    <img ng-show="item.type==='PHYSICAL'" ng-src="{{item.image_url}}" width="100px" height="100px"/>
                    <img ng-show="item.type==='DISCOUNT'" src="https://thomastsopanakis.files.wordpress.com/2012/05/vocal-razorianfly-icon.png" width="100px" height="100px"/>
                    <img ng-show="item.type==='VOUCHER'" src="http://www.printable-alphabets.com/wp-content/uploads/2012/12/print-dollar-sign-large.png" width="100px" height="100px"/><br/>
                  </div>
                  <div class="txt">
                    {{item.terms}}
                  </div>
                  <div class="data clearfix">
                    <span>Stock disponible: {{item.stock}}</span><br/>
                    <span>Vencimiento: {{item.period_to}}</span><br/>
                    <span>Valoración: </span><br/>
                    <span>Condiciones: </span><br/>
                    <p class="small-font">
                      {{item.conditions}}
                    </p>
                  </div>
                  <div class="sep"></div>
                  <form>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="item.accepted"> Acepto las condiciones
                      </label>
                      <label ng-if="item.stock<0">
                           No hay stock para el premio
                      </label>
                    </div>
                    <button type="submit" class="btn" id="btn-canjear" ng-show="item.accepted" ng-click="redeemPoints(object.pk, item, $event)">Canjear premio</button>
                  </form>
                </div>
              </li>
            </ul>
          </div>
				</li>
      </ul>
		</li>
  </ul>

	<ul class="empresa-menu nav">

		<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleBases">
				<b class="caret"></b> Bases y condiciones
			</a>

			<ul class="collapse"  id="toggleBases" role="menu">
				<li>{{object.legales}}</li>
      </ul>

		</li>

	</ul>

	<button class="btn btn-info width-100" id="btn-suscribirme" ng-click="subscribe(object.pk)" ng-show="!is_subscribed">Suscribirme</button>
  <button class="btn btn-info width-100" id="btn-unsuscribirme" ng-click="unsubscribe(object.pk)" ng-show="is_subscribed">Darme de Baja</button>
	<a ng-if="redeem_code" ui-sref="qr({code: redeem_code})"><button class="btn btn-info width-100" id="btn-qr-reward" ng-show="redeem_code">Generar QR Ultimo premio</button></a>


  <!-- Fin contenido principal -->
  <footer>
  </footer>

</div> <!-- /container -->
